body {
  overflow: hidden;
}

.app-wrapper {
  overflow: hidden;
  margin: 0;
}

#date {
  font-size: 2em;
  float: right;
  margin-top: -5px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-shadow: 3px 3px 10px black;
  color:white;
  text-align:right;
}

#time {
  text-align: center;
  font-size: 10em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-shadow: 3px 3px 20px black;
  margin-bottom: -80px;
}

#greeting {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  text-shadow: 5px 5px 10px black;
}

.location-wrapper {
  position: absolute;
  bottom: 1%;
}

#location-icon {
  width: 40px;
  height: auto;
  margin-bottom: -6px;
}

#degree-symbol {
  width: 10px;
  height: auto;
  padding-bottom: 15px;
  padding-left: 2px;

}

#location {
  margin-left: 10px;
  font-size: 2em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 3px 10px black;
  display: inline;
}

#slash {
  color: white;
  font-size: 2em;
  margin-left: 5px;
  margin-right: 5px;
}

#temp {
  font-size: 2em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 3px 10px black;
  display: inline;
}

.one {
  background-image: url('images/dubai.jpg');
  background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}


.two {
  background-image: url('images/alps.jpg');
  background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.three {
  background-image: url('images/paris.jpg');
  background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.four {
  background-image: url('images/venice.jpg');
  background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.five {
  background-image: url('images/budapest.jpg');
  background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.six {
  background-image: url('images/brooklyn.jpg');
  background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.six {
  background-image: url('images/amsterdam.jpg');
  background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.overlay-container {
  width: 700px;
  position: absolute;
  background-color: transparent;
  top: 10%;
  left: 50%;
  transform: translate(-50%,0);
}

#search-icon {
  cursor: pointer;
  width: 35px;
  height: auto;
  float: left;
}

.search {
  font-family: Arial;
  font-size: 1.2em;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
}

.search::placeholder {
  color: white;
}

.search:focus {
  outline: none;
}

.searchform {
  margin-top: 10px;
  float: left;
  display: none;
}

#toggle-todo {
  cursor: pointer;
  display: block;
  margin: auto;
  width: 40px;
  height: auto;
}

.to-do-list-container {
  font-family: 'Barlow Semi Condensed', sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60px;
}

.td-open {
  height: auto;
}

.td-open #toggle-todo {
  transform: rotateX(180deg);
}

/* Remove margins and padding from the list */
.to-do-list-container ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.to-do-list-container ul li {
  font-family: Arial;
  color: white;
  background-color: black;
  opacity: 0.9;
  position: relative;
  padding: 12px 12px 12px 20px;
  list-style-type: none;
  font-size: 1em;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Style the close button */
.to-do-list-container .close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  transition: 0.5s;
}

.to-do-list-container .close:hover {
  color: grey;
  transition: 0.5s;
}

/* Style the header */
.to-do-list-container .header {
  background-color: black;
  padding: 20px;
  opacity: 0.8;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.to-do-list-container .header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.to-do-list-container input {
  background-color: transparent;
  color: white;
  border: none;
  width: 90%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border-bottom: 2px solid white;
}

.to-do-list-container input:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .to-do-list-container {display: none;}
  #search-icon {display: none;}
  .searchform {display: none;}
  #date {text-align: center; float: none;}
  #time {font-size: 8em; margin-bottom: -40px;}
  #greeting {font-size: 3em;}
  .location-wrapper {margin: 0 auto; left: 0; right: 0; text-align: center;}
}

@media screen and (max-width: 500px) {
  #greeting {font-size: 2em;}
}
